# Implementing K-means Clustering Algorithm

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

## Step : Data Preparation
- We explore the customer dataset.

In [2]:
# Specify the column(s) to be parsed as dates
parse_dates = ['InvoiceDate']

# Specify the column(s) and their desired data types
dtype_dict = {
    'CustomerID': str
}

# Path to the dataset
dataset1_path = "../../dataset1-online-retail.csv"

# Read the CSV file, parsing the specified columns as datetime and setting data types for others
dataset1 = pd.read_csv(dataset1_path, encoding='unicode_escape', parse_dates=parse_dates, dtype=dtype_dict)

# print shape of the data
print(f"dataset1 shape: {dataset1.shape}")

# Display the first few rows of the dataset
dataset1.head()

dataset1 shape: (541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [ ]:
# Feature selection: selecting relevant features for clustering
selected_features = ['Quantity', 'UnitPrice', 'CustomerID']