# Solution By Rodgers Nyangweso

In [23]:
#import needed modules
import pandas as pd
# Set the maximum number of displayed columns (e.g., display all columns)
pd.options.display.max_columns = None

import numpy as np

In [57]:
# Specify the column(s) and their desired data types
dtype_dict = {
    'hh_id': str
}
# load dataset
dataset1 = pd.read_csv("dataset1.csv", dtype=dtype_dict, low_memory=False)
print(f"dataset1 shape: {dataset1.shape}")
# view the first few rows
dataset1.head(3)

dataset1 shape: (2454, 322)

,hh_name,hh_id,mobileuser,bm_cycle,country,project,office,subcounty_or_sublocation,village,household_members,respondent_given_name_1,respondent_surname_1,given_name_household_member_1,given_name_household_member_2,given_name_household_member_3,given_name_household_member_4,given_name_household_member_5,given_name_household_member_6,given_name_household_member_7,given_name_household_member_8,given_name_household_member_9,given_name_household_member_10,given_name_household_member_11,given_name_household_member_12,surname_household_member_1,surname_household_member_2,surname_household_member_3,surname_household_member_4,surname_household_member_5,surname_household_member_6,surname_household_member_7,surname_household_member_8,surname_household_member_9,surname_household_member_10,surname_household_member_11,surname_household_member_12,meals,sugar_intake,fish_meat_intake,legumes_intake,currently_save,saved_amount,difficult_situation,explain_difficult_situation,difficult_situatio_support,difficult_situation_recover,future_shocks,future_shocks_advances,advance_details,richer_or_poorer,members_away,household_members_away,consumption_rice,quantity_rice,ucode_rice,ucost_rice,consumption_maizeflour,quantity_maizeflour,ucode_maizeflour,ucost_maizeflour,consumption_maizecobs,quantity_maizecobs,ucode_maizecobs,ucost_maizecobs,consumption_millet,quantity_millet,ucode_millet,ucost_millet,consumption_sorghum,quantity_sorghum,ucode_sorghum,ucost_sorghum,consumption_matooke,quantity_matooke,ucode_matooke,ucost_matooke,consumption_irishpotatoes,quantity_irishpotatoes,ucode_irishpotatoes,ucost_irishpotatoes,consumption_sweetpotatoes,quantity_sweetpotatoes,ucode_sweetpotatoes,how_much_does_a_unit_of_sweet_po,consumption_cassava,quantity_cassava,ucode_cassava,ucost_cassava,consumption_yams,quantity_yams,ucode_yams,ucost_yams,consumption_pumpkin,quantity_pumpkin,ucode_pumpkin,ucost_pumpkin,consumption_carrots,quantity_carrots,ucode_carrots,ucost_carrots,consumption_cabbage,quantity_cabbage,ucode_cabbage,ucost_cabbage,consumption_localgreens,quantity_localgreens,ucode_localgreens,ucost_localgreens,consumption_tomatoes,quantity_tomatoes,ucode_tomatoes,ucost_tomatoes,consumption_onions,quantity_onions,ucode_onions,ucost_onions,consumption_mangoes,quantity_mangoes,ucode_mangoes,ucost_mangoes,consumption_pawpaw,quantity_pawpaw,ucode_pawpaw,ucost_pawpaw,consumption_jackfruit,quantity_jackfruit,ucost_jackfruit,consumption_avocado,quantity_avocados,ucode_avocados,ucost_avocados,consumption_sweetbananas,quantity_sweetbananas,ucode_sweetbananas,ucost_sweetbananas,consumption_otherfruitveg,consumption_otherfruitveg_descri,quantity_otherfruitveg,ucode_otherfruitveg,ucost_otherfruitveg,consumption_organmeats,quantity_organmeats,ucode_organmeats,ucost_organmeats,consumption_meat,quantity_meat,ucode_meat,ucost_meat,consumption_fish,quantity_fish,ucode_fish,ucost_fish,consumption_eggs,quantity_eggs,ucode_eggs,ucost_eggs,consumption_dairy,quantity_dairy,ucode_dairy,ucost_dairy,consumption_nuts,quantity_nuts,ucode_nuts,ucost_nuts,consumption_legumes,quantity_legumes,ucode_legumes,ucost_legumes,consumption_cookingoil,quantity_cookingoil,ucode_cookingoil,ucost_cookingoil,consumption_sugar,quantity_sugar,ucode_sugar,ucost_sugar,consumption_salt,quantity_salt,ucode_salt,ucost_salt,consumption_royco,quantity_royco,ucode_royco,ucost_royco,consumption_tea,quantity_tea,ucode_tea,ucost_tea,consumption_alcohol,quantity_alcohol,ucode_alcohol,ucost_alcohol,consumption_otherfood,specify_otherfood,quantity_other_food,ucode_other_food,ucost_otherfood,expenditure_milling,amount_milling,expenditure_water,amount_water,expenditure_electricity,amount_electricity,expenditure_charcoal,amount_charcoal,expenditure_otherfuel,amount_otherfuel,expenditure_hhoperation,amount_hhoperation,expenditure_cosmetics,amount_cosmetics,expenditure_hairdressing,amount_hairdressing,expenditure_petrol,amount_petrol,expenditure_repairs,amount_repairs,expenditure_transportationfares,amount_transportationfares,expenditure_mobileairtime,amount_mobileairtime,expenditure_recreation,amount_recreation,expenditure_hotel,amount_hotel_lodging,expenditure_other_services,specify_other_services,amount_otherservices,expenditure_mens_clothing,amount_mens_clothing,expenditure_womens_clothing,amount_womens_clothing,expenditure_children_clothing,amount_children_clothing,expenditure_mens_footwear,amount_mens_footwear,expenditure_womens_footwear,amount_womens_footwear,expenditure_childrens_footwear,amount_childrens_footwear,expenditure_otherclothing,amount_otherclothing,expenditure_furniture,amount_furniture,expenditure_textiles,amount_textiles,expenditure_glassware,amount_glassware,expenditure_hhappliances,amount_hhappliances,expenditure_medicines,amount_medicines,expenditure_doctor_consultation,amount_doctor_consultation,expenditure_hospital,amount_hospital,expenditure_other,specify_otherhealth,amount_otherhealth,expenditure_schoolfees,amount_schoolfees,expenditure_boardingschool,amount_boardingschool,expenditure_schooluniforms,amount_schooluniforms,expenditure_books,amount_books,expenditure_other_educationalexp,specify_other_educational_expens,amount_other_educationalexpense,expenditure_ceremonial,amount_ceremonialexpense,expenditure_fees_taxes_premiums,amount_fees_taxes_premiums,expenditure_other_infrequent_exp,specify_other_infrequent_expense,amount_infrequent_expense,picture,confirmation,gps_location_latitude_longitudel,gps_location_latitude_longitudea,double_check,signature,end_time,respondent_given_name_2,respondent_surname_2,medical_attention,given_name_household_member_13,given_name_household_member_14,given_name_household_member_15,surname_household_member_13,surname_household_member_14,surname_household_member_15,respondent_given_name_3,respondent_given_name_4,respondent_given_name_5,respondent_surname_3,respondent_surname_4,respondent_surname_5,given_name_household_member_16,given_name_household_member_17,given_name_household_member_18,given_name_household_member_19,given_name_household_member_20,given_name_household_member_21,given_name_household_member_22,given_name_household_member_23,given_name_household_member_24,given_name_household_member_25,given_name_household_member_26,surname_household_member_16,surname_household_member_17,surname_household_member_18,surname_household_member_19,surname_household_member_20,surname_household_member_21,surname_household_member_22,surname_household_member_23,surname_household_member_24,surname_household_member_25,surname_household_member_26,why_least_appreciated
0,Awoyo Rosa,173595,Acedo Goretty,FY18C1 Onaba Samuel,Uganda,Core,Soroti,Akeriau,Adodoi,3,Rosa,Awoyo,Richard,Joyce mary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edong,Aduo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,7,Yes,50000.0,Yes,Sickness,Yes,"Yes, partially recovered",Yes,Yes,Has a goat and cassava,Poorer,No,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,3.0,Basin,99.0,Yes,1.0,Basin,25000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,4.0,Heap,500.0,Yes,2.0,Heap,500.0,Yes,1.0,Heap,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,8.0,Cup,2000.0,Yes,2.0,Sacket,500.0,No,NaN,NaN,NaN,Yes,1.0,Sacket,600.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,2.0,Cup,1000.0,No,NaN,NaN,NaN,NaN,Yes,1500.0,Yes,2000.0,No,NaN,No,NaN,No,NaN,Yes,8000.0,Yes,20000.0,No,NaN,No,NaN,No,NaN,Yes,100000.0,Yes,50000.0,Yes,14000.0,No,NaN,No,NaN,NaN,Yes,100000.0,Yes,50000.0,Yes,100000.0,Yes,50000.0,Yes,66000.0,Yes,20000.0,Yes,80000.0,Yes,300000.0,Yes,100000.0,Yes,70000.0,No,NaN,Yes,10000.0,No,NaN,Yes,100000.0,No,NaN,NaN,No,NaN,No,NaN,No,NaN,No,NaN,No,NaN,NaN,Yes,80000.0,No,NaN,No,NaN,NaN,https://villageenterprise.my.salesforce.com/sf...,Yes,"2.091688, 33.716918",1102.6,Yes,https://villageenterprise.my.salesforce.com/sf...,2023-11-17 15:09:39.163+03,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Asio Margate,173572,Acedo Goretty,FY18C1 Onaba Samuel,Uganda,Core,Soroti,Akeriau,Adodoi,8,Magrate,Asio,Joseph,Ben,Magrate,Philip,Betty,Susan,NaN,NaN,NaN,NaN,NaN,NaN,Elungat,Edonu,Akiror,Opolot,Asio,Arayo,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,7,Yes,40000.0,No,NaN,NaN,NaN,Yes,Yes,Livestock and food crops,Richer,No,NaN,Yes,8.0,Kilogram,5000.0,Yes,12.0,Kilogram,3000.0,Yes,3.0,Basin,7000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,2.0,Basin,10000.0,Yes,1.0,Basin,18000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,2.0,Heap,500.0,Yes,1.0,Heap,1000.0,Yes,2.0,Piece,100.0,Yes,1.0,Heap,500.0,Yes,3.0,Whole,500.0,No,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,6.0,Whole,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,12.0,Cup,2000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,1.0,Pack,600.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,5.0,Gorogoro,5000.0,Yes,Fish,1.0,Other,3000.0,Yes,6000.0,Yes,2000.0,No,NaN,No,NaN,No,NaN,Yes,8000.0,Yes,10000.0,Yes,2000.0,No,NaN,No,NaN,Yes,80000.0,Yes,10000.0,No,NaN,No,NaN,No,NaN,NaN,Yes,100000.0,Yes,50000.0,Yes,30000.0,Yes,60000.0,Yes,70000.0,Yes,20000.0,Yes,20000.0,Yes,150000.0,Yes,48000.0,Yes,24000.0,No,NaN,Yes,50000.0,Yes,20000.0,Yes,100000.0,No,NaN,NaN,Yes,90000.0,No,NaN,Yes,40000.0,Yes,50000.0,No,NaN,NaN,Yes,15000.0,No,NaN,No,NaN,NaN,https://villageenterprise.my.salesforce.com/sf...,Yes,"2.097427, 33.716227",1119.7,Yes,https://villageenterprise.my.salesforce.com/sf...,2023-11-17 14:22:10.478+03,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Okurut David,174305,Acedo Goretty,FY18C1 Mary Immaculate Akello,Uganda,Core,Soroti,Akeriau,Akisim,9,David,Okurut,Joyce,Elizabeth,Jeffrey,Emmanuel,Thomas,Paul,Dominic,Christine,NaN,NaN,NaN,NaN,Asango,Aliba,Ochen,Oumeno,Egedo,Eselu,Okurut,Alimo,NaN,NaN,NaN,NaN,2,0,1,0,Yes,25000.0,No,NaN,NaN,NaN,Yes,Yes,Livestock,Poorer,No,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,1.0,Basin,25000.0,Yes,2.0,Basin,25000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,1.0,Piece,1000.0,Yes,35.0,Heap,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,Yes,0.5,Kilogram,6000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,1.0,Sacket,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,5.0,Cup,1000.0,No,NaN,NaN,NaN,NaN,Yes,5000.0,Yes,2000.0,No,NaN,No,NaN,No,NaN,Yes,10000.0,Yes,6000.0,No,NaN,No,NaN,No,NaN,No,NaN,Yes,2000.0,No,NaN,No,NaN,No,NaN,NaN,No,NaN,No,NaN,No,NaN,Yes,18000.0,Yes,3000.0,No,NaN,Yes,3000.0,No,NaN,Yes,12000.0,Yes,24000.0,No,NaN,Yes,15000.0,No,NaN,Yes,58000.0,No,NaN,NaN,Yes,138000.0,No,NaN,Yes,100000.0,Yes,10000.0,No,NaN,NaN,Yes,20000.0,No,NaN,No,NaN,NaN,https://villageenterprise.my.salesforce.com/sf...,Yes,"2.073535, 33.741608",1154.0,Yes,https://villageenterprise.my.salesforce.com/sf...,2023-11-20 16:40:17.815+03,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,We could do that by ourselves

In [58]:
# descriptive statistics function
def descriptive_statistic(df):
    # Specifying datetime_is_numeric=True adopts the future behavior of Treating datetime data as categorical rather than numeric
    dataset1_descriptive_statistic_df = df.describe(include='all')
    return dataset1_descriptive_statistic_df
 

descriptive_statistic(dataset1)

,hh_name,hh_id,mobileuser,bm_cycle,country,project,office,subcounty_or_sublocation,village,household_members,respondent_given_name_1,respondent_surname_1,given_name_household_member_1,given_name_household_member_2,given_name_household_member_3,given_name_household_member_4,given_name_household_member_5,given_name_household_member_6,given_name_household_member_7,given_name_household_member_8,given_name_household_member_9,given_name_household_member_10,given_name_household_member_11,given_name_household_member_12,surname_household_member_1,surname_household_member_2,surname_household_member_3,surname_household_member_4,surname_household_member_5,surname_household_member_6,surname_household_member_7,surname_household_member_8,surname_household_member_9,surname_household_member_10,surname_household_member_11,surname_household_member_12,meals,sugar_intake,fish_meat_intake,legumes_intake,currently_save,saved_amount,difficult_situation,explain_difficult_situation,difficult_situatio_support,difficult_situation_recover,future_shocks,future_shocks_advances,advance_details,richer_or_poorer,members_away,household_members_away,consumption_rice,quantity_rice,ucode_rice,ucost_rice,consumption_maizeflour,quantity_maizeflour,ucode_maizeflour,ucost_maizeflour,consumption_maizecobs,quantity_maizecobs,ucode_maizecobs,ucost_maizecobs,consumption_millet,quantity_millet,ucode_millet,ucost_millet,consumption_sorghum,quantity_sorghum,ucode_sorghum,ucost_sorghum,consumption_matooke,quantity_matooke,ucode_matooke,ucost_matooke,consumption_irishpotatoes,quantity_irishpotatoes,ucode_irishpotatoes,ucost_irishpotatoes,consumption_sweetpotatoes,quantity_sweetpotatoes,ucode_sweetpotatoes,how_much_does_a_unit_of_sweet_po,consumption_cassava,quantity_cassava,ucode_cassava,ucost_cassava,consumption_yams,quantity_yams,ucode_yams,ucost_yams,consumption_pumpkin,quantity_pumpkin,ucode_pumpkin,ucost_pumpkin,consumption_carrots,quantity_carrots,ucode_carrots,ucost_carrots,consumption_cabbage,quantity_cabbage,ucode_cabbage,ucost_cabbage,consumption_localgreens,quantity_localgreens,ucode_localgreens,ucost_localgreens,consumption_tomatoes,quantity_tomatoes,ucode_tomatoes,ucost_tomatoes,consumption_onions,quantity_onions,ucode_onions,ucost_onions,consumption_mangoes,quantity_mangoes,ucode_mangoes,ucost_mangoes,consumption_pawpaw,quantity_pawpaw,ucode_pawpaw,ucost_pawpaw,consumption_jackfruit,quantity_jackfruit,ucost_jackfruit,consumption_avocado,quantity_avocados,ucode_avocados,ucost_avocados,consumption_sweetbananas,quantity_sweetbananas,ucode_sweetbananas,ucost_sweetbananas,consumption_otherfruitveg,consumption_otherfruitveg_descri,quantity_otherfruitveg,ucode_otherfruitveg,ucost_otherfruitveg,consumption_organmeats,quantity_organmeats,ucode_organmeats,ucost_organmeats,consumption_meat,quantity_meat,ucode_meat,ucost_meat,consumption_fish,quantity_fish,ucode_fish,ucost_fish,consumption_eggs,quantity_eggs,ucode_eggs,ucost_eggs,consumption_dairy,quantity_dairy,ucode_dairy,ucost_dairy,consumption_nuts,quantity_nuts,ucode_nuts,ucost_nuts,consumption_legumes,quantity_legumes,ucode_legumes,ucost_legumes,consumption_cookingoil,quantity_cookingoil,ucode_cookingoil,ucost_cookingoil,consumption_sugar,quantity_sugar,ucode_sugar,ucost_sugar,consumption_salt,quantity_salt,ucode_salt,ucost_salt,consumption_royco,quantity_royco,ucode_royco,ucost_royco,consumption_tea,quantity_tea,ucode_tea,ucost_tea,consumption_alcohol,quantity_alcohol,ucode_alcohol,ucost_alcohol,consumption_otherfood,specify_otherfood,quantity_other_food,ucode_other_food,ucost_otherfood,expenditure_milling,amount_milling,expenditure_water,amount_water,expenditure_electricity,amount_electricity,expenditure_charcoal,amount_charcoal,expenditure_otherfuel,amount_otherfuel,expenditure_hhoperation,amount_hhoperation,expenditure_cosmetics,amount_cosmetics,expenditure_hairdressing,amount_hairdressing,expenditure_petrol,amount_petrol,expenditure_repairs,amount_repairs,expenditure_transportationfares,amount_transportationfares,expenditure_mobileairtime,amount_mobileairtime,expenditure_recreation,amount_recreation,expenditure_hotel,amount_hotel_lodging,expenditure_other_services,specify_other_services,amount_otherservices,expenditure_mens_clothing,amount_mens_clothing,expenditure_womens_clothing,amount_womens_clothing,expenditure_children_clothing,amount_children_clothing,expenditure_mens_footwear,amount_mens_footwear,expenditure_womens_footwear,amount_womens_footwear,expenditure_childrens_footwear,amount_childrens_footwear,expenditure_otherclothing,amount_otherclothing,expenditure_furniture,amount_furniture,expenditure_textiles,amount_textiles,expenditure_glassware,amount_glassware,expenditure_hhappliances,amount_hhappliances,expenditure_medicines,amount_medicines,expenditure_doctor_consultation,amount_doctor_consultation,expenditure_hospital,amount_hospital,expenditure_other,specify_otherhealth,amount_otherhealth,expenditure_schoolfees,amount_schoolfees,expenditure_boardingschool,amount_boardingschool,expenditure_schooluniforms,amount_schooluniforms,expenditure_books,amount_books,expenditure_other_educationalexp,specify_other_educational_expens,amount_other_educationalexpense,expenditure_ceremonial,amount_ceremonialexpense,expenditure_fees_taxes_premiums,amount_fees_taxes_premiums,expenditure_other_infrequent_exp,specify_other_infrequent_expense,amount_infrequent_expense,picture,confirmation,gps_location_latitude_longitudel,gps_location_latitude_longitudea,double_check,signature,end_time,respondent_given_name_2,respondent_surname_2,medical_attention,given_name_household_member_13,given_name_household_member_14,given_name_household_member_15,surname_household_member_13,surname_household_member_14,surname_household_member_15,respondent_given_name_3,respondent_given_name_4,respondent_given_name_5,respondent_surname_3,respondent_surname_4,respondent_surname_5,given_name_household_member_16,given_name_household_member_17,given_name_household_member_18,given_name_household_member_19,given_name_household_member_20,given_name_household_member_21,given_name_household_member_22,given_name_household_member_23,given_name_household_member_24,given_name_household_member_25,given_name_household_member_26,surname_household_member_16,surname_household_member_17,surname_household_member_18,surname_household_member_19,surname_household_member_20,surname_household_member_21,surname_household_member_22,surname_household_member_23,surname_household_member_24,surname_household_member_25,surname_household_member_26,why_least_appreciated
count,2454,2454,2454,2454,2454,2454,2454,2454,2454,2454.000000,2451,2451,2431,2300,2142,1894,1543,1176,785,500,289,147,88,56,2431,2300,2142,1894,1543,1176,785,500,289,147,88,56,2454.000000,2454.000000,2454.000000,2454.000000,2447,1.460000e+03,2454,1116,1116,1116,2454,2454,1508,2452,2454,228.000000,2454,1054.000000,1054,1054.000000,2454,1998.000000,1998,1998.000000,2454,938.000000,938,938.000000,2454,602.000000,602,602.000000,2454,678.000000,678,678.000000,2454,636.000000,636,636.000000,2454,488.000000,488,488.000000,2454,1502.000000,1502,1502.000000,2454,1126.000000,1126,1126.000000,2454,137.000000,137,137.000000,2454,425.000000,425,425.000000,2454,47.000000,47,47.000000,2454,1287.000000,1287,1287.000000,2454,2117.000000,2117,2117.000000,2454,2038.000000,2038,2038.000000,2454,2052.000000,2052,2052.000000,2454,402.000000,402,402.000000,2454,642.000000,642,642.000000,2454,436.000000,436.000000,2454,649.000000,649,649.000000,2454,495.000000,495,495.000000,2454,626,627.000000,627,627.000000,2454,201.000000,201,201.000000,2454,949.000000,949,949.000000,2454,1253.000000,1253,1253.000000,2454,613.000000,613,613.000000,2454,1309.000000,1309,1309.000000,2454,973.000000,973,973.000000,2454,2118.000000,2118,2118.000000,2454,2225.000000,2225,2225.000000,2454,1821.000000,1821,1821.000000,2454,2443.000000,2443,2443.000000,2454,381.000000,381,381.000000,2454,1592.000000,1592,1592.000000,2454,489.000000,489,489.000000,2454,120,120.000000,120,120.000000,2454,2343.000000,2454,504.000000,2454,229.000000,2454,775.000000,2454,260.000000,2454,2448.000000,2454,2102.000000,2454,1692.000000,2454,198.000000,2454,419.000000,2454,1612.000000,2454,1941.000000,2454,115.000000,2454,21.000000,2454,278,278.000000,2454,1497.000000,2454,1809.000000,2454,1.907000e+03,2454,1281.000000,2454,1720.000000,2454,1775.000000,2454,1463.000000,2454,7.980000e+02,2454,1241.000000,2454,1283.000000,2454,463.000000,2454,2.316000e+03,2454,5.550000e+02,2454,1.622000e+03,2454,233,233.000000,2454,2.119000e+03,2454,2.730000e+02,2454,1642.000000,2454,2.074000e+03,2454,635,6.350000e+02,2454,1.904000e+03,2454,2.160000e+02,2454,494,4.940000e+02,2442,2454,2443,2443.000000,2454,2454,2454,175,175,2409,31,20,12,31,20,12,2,1,1,2,1,1,9,8,8,3,2,1,1,1,1,1,1,9,8,8,3,2,1,1,1,1,1,1,1656
unique,2406,2451,42,210,2,9,7,84,206,NaN,1357,1568,1220,1103,1063,1008,851,719,530,373,233,131,81,53,1584,1327,1237,1174,1004,790,561,394,243,137,86,55,NaN,NaN,NaN,NaN,2,NaN,2,678,2,3,2,2,959,4,2,NaN,2,NaN,11,NaN,2,NaN,9,NaN,2,NaN,9,NaN,2,NaN,9,NaN,2,NaN,6,NaN,2,NaN,8,NaN,2,NaN,8,NaN,2,NaN,9,NaN,2,NaN,10,NaN,2,NaN,7,NaN,2,NaN,5,NaN,2,NaN,4,NaN,2,NaN,7,NaN,2,NaN,11,NaN,2,NaN,13,NaN,2,NaN,12,NaN,2,NaN,5,NaN,2,NaN,6,NaN,2,NaN,NaN,2,NaN,5,NaN,2,NaN,8,NaN,2,157,NaN,9,NaN,2,NaN,6,NaN,2,NaN,8,NaN,2,NaN,9,NaN,2,NaN,7,NaN,2,NaN,7,NaN,2,NaN,11,NaN,2,NaN,11,NaN,2,NaN,11,NaN,2,NaN,9,NaN,2,NaN,11,NaN,2,NaN,9,NaN,2,NaN,11,NaN,2,NaN,9,NaN,2,68,NaN,13,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,122,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,112,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,324,NaN,2,NaN,2,NaN,2,249,NaN,2442,2,2391,NaN,2,2454,2454,117,156,2,30,19,12,30,19,12,2,1,1,2,1,1,9,8,8,3,2,1,1,1,1,1,1,9,8,8,3,2,1,1,1,1,1,1,1256
top,Opira Quinto,174179,Ann Osundwa,FY18C3 Akuguzibwe Joshua,Uganda,Core,Kitale,Kiryandongo,Kiswaza,NaN,Christine,Akello,John,Brian,Brian,Emmanuel,Emmanuel,Joseph,Emmanuel,Emmanuel,Esther,Patricia,Joseph,Innocent,Okello,Otieno,Otieno,Otieno,Otieno,Otieno,Otieno,Lakica,Wafula,Otieno,Wanyonyi,Chepchumba,NaN,NaN,NaN,NaN,Yes,NaN,No,Sickness,Yes,"Yes, partially recovered",Yes,Yes,Farming,Richer,No,NaN,No,NaN,Kilogram,NaN,Yes,NaN,Gorogoro,NaN,No,NaN,Whole,NaN,No,NaN,Cup,NaN,No,NaN,Cup,NaN,No,NaN,Bunch,NaN,No,NaN,Gorogoro,NaN,Yes,NaN,Heap,NaN,No,NaN,Heap,NaN,No,NaN,Heap,NaN,No,NaN,Whole,NaN,No,NaN,Pack,NaN,Yes,NaN,Whole,NaN,Yes,NaN,Handful,NaN,Yes,NaN,Heap,NaN,Yes,NaN,Heap,NaN,No,NaN,Whole,NaN,No,NaN,Whole,NaN,No,NaN,NaN,No,NaN,Whole,NaN,No,NaN,Bunch,NaN,No,Oranges,NaN,Heap,NaN,No,NaN,Kilogram,NaN,No,NaN,Kilogram,NaN,Yes,NaN,Whole,NaN,No,NaN,Whole,NaN,Yes,NaN,Cup,NaN,No,NaN,Cup,NaN,Yes,NaN,Cup,NaN,Yes,NaN,Liter,NaN,Yes,NaN,Kilogram,NaN,Yes,NaN,Pack,NaN,No,NaN,Sacket,NaN,Yes,NaN,Pack,NaN,No,NaN,Liter,NaN,No,Meat,NaN,Whole,NaN,Yes,NaN,No,NaN,No,NaN,No,NaN,No,NaN,Yes,NaN,Yes,NaN,Yes,NaN,No,NaN,No,NaN,Yes,NaN,Yes,NaN,No,NaN,No,NaN,No,Paying Solar,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,No,NaN,Yes,NaN,Yes,NaN,No,NaN,Yes,NaN,No,NaN,Yes,NaN,No,Herbs,NaN,Yes,NaN,No,NaN,Yes,NaN,Yes,NaN,No,Tour,NaN,Yes,NaN,No,NaN,No,Planting maize and beans,NaN,https://villageenterprise.my.salesforce.com/sf...,Yes,"1.725167, 33.892226",NaN,Yes,https://villageenterprise.my.salesforce.com/sf...,2023-11-17 15:09:39.163+03,Rose,Akello,No,Isaac,Paul,Immaculate,Apolot,Imalingat,Akori,Susan,Alvine,Felix,Apio,Okidi,Oyera,Genevieve,Joel,Everlyn,John,Francis,Zainabu,Jamilah,Sarah,Zaida,Mohammed,Marisilina,Atukei,Opolot,Asio,Okudu,Francis,Inotu,Alamo,Anyait,Amgemo,Oriokot,Imede,All was appreciated
freq,3,2,122,45,1282,1116,738,206,31,NaN,38,39,45,32,26,27,21,14,13,9,5,4,3,3,39,36,34,34,20,16,12,6,8,2,2,2,NaN,NaN,NaN,NaN,1460,NaN,1338,225,643,658,1525,1508,92,1867,2226,NaN,1400,NaN,757,NaN,1998,NaN,1167,NaN,1516,NaN,715,NaN,1852,NaN,275,NaN,1776,NaN,410,NaN,1818,NaN,583,NaN,1966,NaN,321,NaN,1502,NaN,1179,NaN,1328,NaN,612,NaN,2317,NaN,98,NaN,2029,NaN,415,NaN,2407,NaN,20,NaN,1287,NaN,1184,NaN,2117,NaN,1158,NaN,2038,NaN,1079,NaN,2052,NaN,616,NaN,2052,NaN,279,NaN,1812,NaN,610,NaN,2018,NaN,NaN,1805,NaN,616,NaN,1959,NaN,254,NaN,1827,210,NaN,298,NaN,2253,NaN,162,NaN,1505,NaN,667,NaN,1253,NaN,456,NaN,1841,NaN,582,NaN,1309,NaN,1090,NaN,1481,NaN,528,NaN,2118,NaN,1180,NaN,2225,NaN,905,NaN,1821,NaN,1557,NaN,2443,NaN,1293,NaN,2073,NaN,267,NaN,1592,NaN,921,NaN,1965,NaN,146,NaN,2334,12,NaN,55,NaN,2343,NaN,1950,NaN,2225,NaN,1679,NaN,2194,NaN,2448,NaN,2102,NaN,1692,NaN,2256,NaN,2035,NaN,1612,NaN,1941,NaN,2339,NaN,2433,NaN,2176,70,NaN,1497,NaN,1809,NaN,1907,NaN,1281,NaN,1720,NaN,1775,NaN,1463,NaN,1656,NaN,1241,NaN,1283,NaN,1991,NaN,2316,NaN,1899,NaN,1622,NaN,2221,35,NaN,2119,NaN,2181,NaN,1642,NaN,2074,NaN,1819,31,NaN,1904,NaN,2238,NaN,1960,80,NaN,1,2448,11,NaN,2451,1,1,7,6,1732,2,2,1,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,66
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.581092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.442543,3.814181,1.290546,4.469030,NaN,1.875269e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.570175,NaN,2.358586,NaN,1551.104364,NaN,13.413413,NaN,997.320821,NaN,24.242537,NaN,581.533049,NaN,3.892899,NaN,1331.225914,NaN,5.217588,NaN,1501.224189,NaN,1.718553,NaN,4557.404088,NaN,1.931352,NaN,1064.282787,NaN,5.117011,NaN,2675.630493,NaN,5.800178,NaN,5511.825933,NaN,2.364964,NaN,945.985401,NaN,1.860000,NaN,1181.924706,NaN,2.234043,NaN,179.361702,NaN,2.053807,NaN,630.806527,NaN,8.220595,NaN,295.771375,NaN,3.652895,NaN,526.545142,NaN,3.591496,NaN,400.250975,NaN,5.485075,NaN,136.509950,NaN,4.912773,NaN,1034.406542,NaN,3.924312,2807.360092,NaN,6.445300,NaN,140.571649,NaN,2.580808,NaN,2447.363636,NaN,NaN,10.249601,NaN,262.334928,NaN,11.536070,NaN,3976.146766,NaN,10.493414,NaN,8420.272919,NaN,3.068635,NaN,2452.920990,NaN,5.441272,NaN,238.185971,NaN,11.331169,NaN,178.338044,NaN,3.375642,NaN,3152.310380,NaN,4.558572,NaN,1381.549575,NaN,2.924663,NaN,1753.004270,NaN,2.636809,NaN,1976.310818,NaN,1.602824,NaN,378.413938,NaN,3.785433,NaN,208.385827,NaN,2.604585,NaN,84.866834,NaN,14.209611,NaN,2962.243354,NaN,NaN,7.187500,NaN,1832.333333,NaN,4390.987196,NaN,2383.966270,NaN,1513.803493,NaN,5240.467097,NaN,3281.773077,NaN,7705.800654,NaN,3773.948145,NaN,3464.892435,NaN,31530.444444,NaN,23783.937947,NaN,19344.482630,NaN,4908.870170,NaN,5368.486957,NaN,12702.047619,NaN,NaN,30062.230216,NaN,36759.918504,NaN,38400.590381,NaN,4.922762e+04,NaN,18180.668228,NaN,11948.306395,NaN,22059.571268,NaN,13525.710185,NaN,7.375078e+04,NaN,20044.172442,NaN,17033.153546,NaN,10485.937365,NaN,5.184671e+04,NaN,3.060131e+04,NaN,1.424297e+05,NaN,NaN,49112.396996,NaN,2.729871e+05,NaN,4.888256e+05,NaN,38863.341657,NaN,3.886278e+04,NaN,NaN,7.050121e+04,NaN,9.384205e+04,NaN,1.706581e+05,NaN,NaN,5.545692e+05,NaN,NaN,NaN,1360.669894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.120449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.561504,3.266481,1.493271,4.407363,NaN,3.777586e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.209138,NaN,2.285249,NaN,2757.131618,NaN,268.451854,NaN,1474.027365,NaN,29.098993,NaN,1271.757218,NaN,6.071899,NaN,2236.200265,NaN,7.411768,NaN,3579.736357,NaN,1.696741,NaN,5130.016030,NaN,1.959786,NaN,4397.749739,NaN,5.179731,NaN,5575.613481,NaN,59.651556,NaN,9280.991980,NaN,1.999544,NaN,1071.275669,NaN,1.550958,NaN,1437.576206,NaN,1.618007,NaN,487.684878,NaN,1.555189,NaN,1115.586537,NaN,7.931059,NaN,487.609477,NaN,4.906835,NaN,865.673334,NaN,33.106777,NaN,813.619696,NaN,9.201595,NaN,309.932003,NaN,9.884127,NaN,854.474636,NaN,11.455361,3068.537428,NaN,11.337575,NaN,245.834774,NaN,2.973829,NaN,4040.412362,NaN,NaN,50.635564,NaN,309.431014,NaN,70.128968,NaN,5627.019118,NaN,229.054071,NaN,7495.892427,NaN,14.505300,NaN,3534.900329,NaN,3.826590,NaN,354.656551,NaN,8.949493,NaN,339.792655,NaN,6.877442,NaN,3834.825992,NaN,4.056936,NaN,3626.578529,NaN,25.906646,NaN,3339.059151,NaN,23.385057,NaN,2865.400522,NaN,12.492009,NaN,470.589193,NaN,5.668013,NaN,344.942147,NaN,5.335615,NaN,104.503146,NaN,33.136880,NaN,3224.176682,NaN,NaN,45.747977,NaN,1810.304999,NaN,6777.693604,NaN,3942.668519,NaN,13246.978354,NaN,11107.375853,NaN,9370.563955,NaN,10697.644718,NaN,6354.265022,NaN,7600.062559,NaN,57626.972671,NaN,37150.339774,NaN,35430.377702,NaN,8832.204863,NaN,12265.623231,NaN,19414.053336,NaN,NaN,87312.541596,NaN,53408.946359,NaN,62877.747715,NaN,8.204236e+04,NaN,29343.587942,NaN,19946.648695,NaN,36252.727232,NaN,29207.408318,NaN,1.541294e+05,NaN,30185.526477,NaN,32707.981369,NaN,26036.490017,NaN,1.528557e+05,NaN,7.135794e+04,NaN,4.817495e+05,NaN,NaN,83051.981754,NaN,7.386001e+05,NaN,6.802895e+05,NaN,63460.227011,NaN,8.387717e+04,NaN,NaN,1.805317e+05,NaN,3.810334e+05,NaN,3.869821e+05,NaN,NaN,1.680851e+06,NaN,NaN,NaN,475.971488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,NaN,5.000000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.200000,NaN,30.000000,NaN,0.150000,NaN,4.000000,NaN,0.500000,NaN,4.000000,NaN,0.025000,NaN,10.000000,NaN,0.025000,NaN,20.000000,NaN,0.500000,NaN,10.000000,NaN,0.500000,NaN,30.000000,NaN,0.250000,NaN,10.000000,NaN,0.250000,NaN,1.000000,NaN,1.000000,NaN,40.000000,NaN,0.500000,NaN,30.000000,NaN,1.000000,NaN,10.000000,NaN,0.250000,NaN,10.000000,NaN,1.000000,NaN,3.000000,NaN,0.100000,NaN,5.000000,NaN,0.250000,NaN,0.000000,NaN,1.000000,NaN,5.000000,NaN,1.000000,NaN,20.000000,NaN,0.500000,1.000000,NaN,1.000000,NaN,1.000000,NaN,0.500000,NaN,5.000000,NaN,NaN,0.000000,NaN,0.000000,NaN,0.250000,NaN,0.500000,NaN,0.250000,NaN,20.000000,NaN,0.250000,NaN,10.000000,NaN,0.500000,NaN,10.000000,NaN,0.500000,NaN,1.500000,NaN,0.250000,NaN,5.000000,NaN,0.025000,NaN,2.000000,NaN,0.100000,NaN,1.000000,NaN,0.000000,NaN,0.000000,NaN,0.200000,NaN,0.250000,NaN,0.250000,NaN,5.000000,NaN,0.500000,NaN,5.000000,NaN,0.000000,NaN,0.000000,NaN,NaN,0.250000,NaN,1.000000,NaN,1.000000,NaN,30.000000,NaN,50.000000,NaN,40.000000,NaN,2.000000,NaN,80.000000,NaN,0.000000,NaN,10.000000,NaN,99.000000,NaN,99.000000,NaN,0.000000,NaN,0.000000,NaN,50.000000,NaN,45.000000,NaN,NaN,100.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000e+00,NaN,0.000000,NaN,99.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000e+00,NaN,99.000000,NaN,3.000000,NaN,99.000000,NaN,2.000000e+01,NaN,5.000000e+01,NaN,5.000000e+01,NaN,NaN,0.500000,NaN,1.230000e-01,NaN,9.900000e+01,NaN,99.000000,NaN,9.000000e+00,NaN,NaN,1.000000e+01,NaN,5.000000e+01,NaN,9.900000e+01,NaN,NaN,3.000000e+01,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Question 1

## Question 1. (a): How many observations and variables are in the dataset?

In [59]:
# Get the shape of the dataset
num_observations, num_variables = dataset1.shape

print(f"Number of observations in dataset1: {num_observations}")
print(f"Number of variables in dataset1: {num_variables}")

Number of observations in dataset1: 2454
Number of variables in dataset1: 322

## Question 1. (b): What is the unit of observation?
Unit of observation is the __household week__ since data is collected weekly, and each row represents the consumption, expenditure, and savings for a particular household during a specific week.

Explanation
1.  Each row pertains to a particular household, indicating that the data is collected at the household level.
2.  The data is collected on a weekly basis, so each row represents one week's worth of data for the household.

## Question 1.(c): Data contains some duplicates in terms of household ID (`hh_id`). How many duplicates are there in this data set?

In [60]:
# Identify duplicate hh_id values
duplicate_hh_ids = dataset1[dataset1.duplicated(subset='hh_id', keep=False)]['hh_id'].unique()

# Count the number of unique hh_id values that have duplicates
num_duplicate_hh_ids = len(duplicate_hh_ids)

print(f"Number of unique household IDs (hh_id) that have duplicates: {num_duplicate_hh_ids}")

Number of unique household IDs (hh_id) that have duplicates: 3

Explanation
- Use `duplicated` method in pandas to identify duplicate `hh_ids`.
  - `dataset1[dataset1.duplicated(subset='hh_id', keep=False)]['hh_id'].unique()` extracts the unique `hh_id` values that appear more than once in the dataset.
  - The `keep=False` argument ensures that all occurrences of the duplicated hh_ids are marked as duplicates, not just the subsequent ones.
- Then, count the number of duplicate entries.
  - `len(duplicate_hh_ids)` gives the count of unique `hh_id` values that have duplicates.

## Question1.(d): List country `hh_id` and respondent given name 1 (`given_name_household_member_1`) for all duplicate observations

In [61]:
# Identify duplicates based on hh_id
duplicates = dataset1[dataset1.duplicated(subset='hh_id', keep=False)]

# Select the relevant columns: country, hh_id, and given_name_household_member_1
duplicates_info = duplicates[['country', 'hh_id', 'given_name_household_member_1']]

# Display the duplicate observations
duplicates_info

     country   hh_id given_name_household_member_1
2201  Uganda  174179                        Sharon
2235  Uganda  174179                          Alex
2387  Uganda  178903                        Nighty
2424  Uganda  187589                         Fiona
2432  Uganda  178903                          Mary
2450  Uganda  187589                        Prossy

Explanation
- `dataset1.duplicated(subset='hh_id', keep=False)` function identifies all rows that are duplicates based on the `hh_id` column. The `keep=False` argument ensures that all occurrences of the duplicated `hh_ids` are included.
- `duplicates[['country', 'hh_id', 'given_name_household_member_1']]` extracts the columns `country`, `hh_id`, and `given_name_household_member_1` from the DataFrame containing the duplicate entries.

## Question 1.(e): Drop excess observations as follows:
- Where `hh_id` is 174179, drop the observation that has the respondent as Scovia
- Where `hh_id` is 178903, drop the observation that has the respondent as David
- Where `hh_id` is 187589, drop the observation that has the respondent as Immaculate

In [63]:
def drop_specific_observations(df):
    print("Original dataframe shape:", dataset1.shape)

    # Define the conditions for dropping observations
    condition = (
        ((df['hh_id'] == 174179) & (df['respondent_given_name_1'] == 'Scovia')) |
        ((df['hh_id'] == 178903) & (df['respondent_given_name_1'] == 'David')) |
        ((df['hh_id'] == 187589) & (df['respondent_given_name_1'] == 'Immaculate'))
    )

    # Apply the condition to filter the DataFrame
    df_without_excess_obersavations = df[~condition]

    print("Dataframe without excess obersavations, shape:", df_without_excess_obersavations.shape)

    return df_without_excess_obersavations

# Example usage
dataset1_without_excess_obersavations = drop_specific_observations(dataset1.copy())

Original dataframe shape: (2454, 322)
Dataframe without excess obersavations, shape: (2454, 322)

Explanation
- This function defines a single condition that combines all the specified conditions using the `|` operator. The DataFrame is then filtered using this combined condition. The `~` operator is used to invert the condition so that rows matching the condition are dropped.

## Question 1.(f): What is the proportion of households from `Uganda`?

In [64]:
def get_uganda_household_proportion(df):
    # Filter the dataset for households in Uganda
    uganda_households = df[df['country'] == 'Uganda']

    # Calculate the number of unique household IDs in Uganda
    unique_uganda_households = uganda_households['hh_id'].nunique()

    # Calculate the total number of unique household IDs in the dataset
    total_households = df['hh_id'].nunique()

    # Calculate the proportion of households in Uganda
    proportion = unique_uganda_households / total_households
    
    return proportion

proportion = get_uganda_household_proportion(dataset1_without_excess_obersavations)
print(f"Proportion of households in Uganda: {proportion:.2%}")

Proportion of households in Uganda: 52.18%

Explanation
- The function
  - Filters the `updated_dataset1` DataFrame for rows where the country column is "`Uganda`".
  - Calculates the number of unique household IDs (`hh_id`) in Uganda.
  - Calculates the total number of unique household IDs in the entire dataset.
  - Computes the proportion of households in Uganda by dividing the number of unique Ugandan households by the total number of unique households.

# Question 2

## Question 2(a): Rename variables

In [65]:
# Define the dictionary for renaming columns
new_names = {
    'how_much_does_a_unit_of_sweet_po': 'ucost_sweetpotatoes',
    'quantity_other_food  ': 'quantity_otherfood',
    'ucode_other_food': 'ucode_otherfood',
    'consumption_avocado' : 'consumption_avocados',
    'consumption_otherfruitveg_descri' : 'specify_otherfruitveg_descri'
}

def rename_columns_and_save(df, new_names):
    # Rename the columns based on the new_names dictionary
    Dataset1_clean = df.rename(columns=new_names)
    
    return Dataset1_clean

Dataset1_clean = rename_columns_and_save(dataset1_without_excess_obersavations, new_names)

# Save the cleaned dataset
Dataset1_clean.to_csv('Dataset1_clean.csv', index=False)

# Display the first few rows of the cleaned DataFrame
Dataset1_clean.head(3)

,hh_name,hh_id,mobileuser,bm_cycle,country,project,office,subcounty_or_sublocation,village,household_members,respondent_given_name_1,respondent_surname_1,given_name_household_member_1,given_name_household_member_2,given_name_household_member_3,given_name_household_member_4,given_name_household_member_5,given_name_household_member_6,given_name_household_member_7,given_name_household_member_8,given_name_household_member_9,given_name_household_member_10,given_name_household_member_11,given_name_household_member_12,surname_household_member_1,surname_household_member_2,surname_household_member_3,surname_household_member_4,surname_household_member_5,surname_household_member_6,surname_household_member_7,surname_household_member_8,surname_household_member_9,surname_household_member_10,surname_household_member_11,surname_household_member_12,meals,sugar_intake,fish_meat_intake,legumes_intake,currently_save,saved_amount,difficult_situation,explain_difficult_situation,difficult_situatio_support,difficult_situation_recover,future_shocks,future_shocks_advances,advance_details,richer_or_poorer,members_away,household_members_away,consumption_rice,quantity_rice,ucode_rice,ucost_rice,consumption_maizeflour,quantity_maizeflour,ucode_maizeflour,ucost_maizeflour,consumption_maizecobs,quantity_maizecobs,ucode_maizecobs,ucost_maizecobs,consumption_millet,quantity_millet,ucode_millet,ucost_millet,consumption_sorghum,quantity_sorghum,ucode_sorghum,ucost_sorghum,consumption_matooke,quantity_matooke,ucode_matooke,ucost_matooke,consumption_irishpotatoes,quantity_irishpotatoes,ucode_irishpotatoes,ucost_irishpotatoes,consumption_sweetpotatoes,quantity_sweetpotatoes,ucode_sweetpotatoes,ucost_sweetpotatoes,consumption_cassava,quantity_cassava,ucode_cassava,ucost_cassava,consumption_yams,quantity_yams,ucode_yams,ucost_yams,consumption_pumpkin,quantity_pumpkin,ucode_pumpkin,ucost_pumpkin,consumption_carrots,quantity_carrots,ucode_carrots,ucost_carrots,consumption_cabbage,quantity_cabbage,ucode_cabbage,ucost_cabbage,consumption_localgreens,quantity_localgreens,ucode_localgreens,ucost_localgreens,consumption_tomatoes,quantity_tomatoes,ucode_tomatoes,ucost_tomatoes,consumption_onions,quantity_onions,ucode_onions,ucost_onions,consumption_mangoes,quantity_mangoes,ucode_mangoes,ucost_mangoes,consumption_pawpaw,quantity_pawpaw,ucode_pawpaw,ucost_pawpaw,consumption_jackfruit,quantity_jackfruit,ucost_jackfruit,consumption_avocados,quantity_avocados,ucode_avocados,ucost_avocados,consumption_sweetbananas,quantity_sweetbananas,ucode_sweetbananas,ucost_sweetbananas,consumption_otherfruitveg,specify_otherfruitveg_descri,quantity_otherfruitveg,ucode_otherfruitveg,ucost_otherfruitveg,consumption_organmeats,quantity_organmeats,ucode_organmeats,ucost_organmeats,consumption_meat,quantity_meat,ucode_meat,ucost_meat,consumption_fish,quantity_fish,ucode_fish,ucost_fish,consumption_eggs,quantity_eggs,ucode_eggs,ucost_eggs,consumption_dairy,quantity_dairy,ucode_dairy,ucost_dairy,consumption_nuts,quantity_nuts,ucode_nuts,ucost_nuts,consumption_legumes,quantity_legumes,ucode_legumes,ucost_legumes,consumption_cookingoil,quantity_cookingoil,ucode_cookingoil,ucost_cookingoil,consumption_sugar,quantity_sugar,ucode_sugar,ucost_sugar,consumption_salt,quantity_salt,ucode_salt,ucost_salt,consumption_royco,quantity_royco,ucode_royco,ucost_royco,consumption_tea,quantity_tea,ucode_tea,ucost_tea,consumption_alcohol,quantity_alcohol,ucode_alcohol,ucost_alcohol,consumption_otherfood,specify_otherfood,quantity_other_food,ucode_otherfood,ucost_otherfood,expenditure_milling,amount_milling,expenditure_water,amount_water,expenditure_electricity,amount_electricity,expenditure_charcoal,amount_charcoal,expenditure_otherfuel,amount_otherfuel,expenditure_hhoperation,amount_hhoperation,expenditure_cosmetics,amount_cosmetics,expenditure_hairdressing,amount_hairdressing,expenditure_petrol,amount_petrol,expenditure_repairs,amount_repairs,expenditure_transportationfares,amount_transportationfares,expenditure_mobileairtime,amount_mobileairtime,expenditure_recreation,amount_recreation,expenditure_hotel,amount_hotel_lodging,expenditure_other_services,specify_other_services,amount_otherservices,expenditure_mens_clothing,amount_mens_clothing,expenditure_womens_clothing,amount_womens_clothing,expenditure_children_clothing,amount_children_clothing,expenditure_mens_footwear,amount_mens_footwear,expenditure_womens_footwear,amount_womens_footwear,expenditure_childrens_footwear,amount_childrens_footwear,expenditure_otherclothing,amount_otherclothing,expenditure_furniture,amount_furniture,expenditure_textiles,amount_textiles,expenditure_glassware,amount_glassware,expenditure_hhappliances,amount_hhappliances,expenditure_medicines,amount_medicines,expenditure_doctor_consultation,amount_doctor_consultation,expenditure_hospital,amount_hospital,expenditure_other,specify_otherhealth,amount_otherhealth,expenditure_schoolfees,amount_schoolfees,expenditure_boardingschool,amount_boardingschool,expenditure_schooluniforms,amount_schooluniforms,expenditure_books,amount_books,expenditure_other_educationalexp,specify_other_educational_expens,amount_other_educationalexpense,expenditure_ceremonial,amount_ceremonialexpense,expenditure_fees_taxes_premiums,amount_fees_taxes_premiums,expenditure_other_infrequent_exp,specify_other_infrequent_expense,amount_infrequent_expense,picture,confirmation,gps_location_latitude_longitudel,gps_location_latitude_longitudea,double_check,signature,end_time,respondent_given_name_2,respondent_surname_2,medical_attention,given_name_household_member_13,given_name_household_member_14,given_name_household_member_15,surname_household_member_13,surname_household_member_14,surname_household_member_15,respondent_given_name_3,respondent_given_name_4,respondent_given_name_5,respondent_surname_3,respondent_surname_4,respondent_surname_5,given_name_household_member_16,given_name_household_member_17,given_name_household_member_18,given_name_household_member_19,given_name_household_member_20,given_name_household_member_21,given_name_household_member_22,given_name_household_member_23,given_name_household_member_24,given_name_household_member_25,given_name_household_member_26,surname_household_member_16,surname_household_member_17,surname_household_member_18,surname_household_member_19,surname_household_member_20,surname_household_member_21,surname_household_member_22,surname_household_member_23,surname_household_member_24,surname_household_member_25,surname_household_member_26,why_least_appreciated
0,Awoyo Rosa,173595,Acedo Goretty,FY18C1 Onaba Samuel,Uganda,Core,Soroti,Akeriau,Adodoi,3,Rosa,Awoyo,Richard,Joyce mary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edong,Aduo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,7,Yes,50000.0,Yes,Sickness,Yes,"Yes, partially recovered",Yes,Yes,Has a goat and cassava,Poorer,No,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,3.0,Basin,99.0,Yes,1.0,Basin,25000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,4.0,Heap,500.0,Yes,2.0,Heap,500.0,Yes,1.0,Heap,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,8.0,Cup,2000.0,Yes,2.0,Sacket,500.0,No,NaN,NaN,NaN,Yes,1.0,Sacket,600.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,2.0,Cup,1000.0,No,NaN,NaN,NaN,NaN,Yes,1500.0,Yes,2000.0,No,NaN,No,NaN,No,NaN,Yes,8000.0,Yes,20000.0,No,NaN,No,NaN,No,NaN,Yes,100000.0,Yes,50000.0,Yes,14000.0,No,NaN,No,NaN,NaN,Yes,100000.0,Yes,50000.0,Yes,100000.0,Yes,50000.0,Yes,66000.0,Yes,20000.0,Yes,80000.0,Yes,300000.0,Yes,100000.0,Yes,70000.0,No,NaN,Yes,10000.0,No,NaN,Yes,100000.0,No,NaN,NaN,No,NaN,No,NaN,No,NaN,No,NaN,No,NaN,NaN,Yes,80000.0,No,NaN,No,NaN,NaN,https://villageenterprise.my.salesforce.com/sf...,Yes,"2.091688, 33.716918",1102.6,Yes,https://villageenterprise.my.salesforce.com/sf...,2023-11-17 15:09:39.163+03,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Asio Margate,173572,Acedo Goretty,FY18C1 Onaba Samuel,Uganda,Core,Soroti,Akeriau,Adodoi,8,Magrate,Asio,Joseph,Ben,Magrate,Philip,Betty,Susan,NaN,NaN,NaN,NaN,NaN,NaN,Elungat,Edonu,Akiror,Opolot,Asio,Arayo,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,7,Yes,40000.0,No,NaN,NaN,NaN,Yes,Yes,Livestock and food crops,Richer,No,NaN,Yes,8.0,Kilogram,5000.0,Yes,12.0,Kilogram,3000.0,Yes,3.0,Basin,7000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,2.0,Basin,10000.0,Yes,1.0,Basin,18000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,2.0,Heap,500.0,Yes,1.0,Heap,1000.0,Yes,2.0,Piece,100.0,Yes,1.0,Heap,500.0,Yes,3.0,Whole,500.0,No,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,6.0,Whole,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,12.0,Cup,2000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,1.0,Pack,600.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,5.0,Gorogoro,5000.0,Yes,Fish,1.0,Other,3000.0,Yes,6000.0,Yes,2000.0,No,NaN,No,NaN,No,NaN,Yes,8000.0,Yes,10000.0,Yes,2000.0,No,NaN,No,NaN,Yes,80000.0,Yes,10000.0,No,NaN,No,NaN,No,NaN,NaN,Yes,100000.0,Yes,50000.0,Yes,30000.0,Yes,60000.0,Yes,70000.0,Yes,20000.0,Yes,20000.0,Yes,150000.0,Yes,48000.0,Yes,24000.0,No,NaN,Yes,50000.0,Yes,20000.0,Yes,100000.0,No,NaN,NaN,Yes,90000.0,No,NaN,Yes,40000.0,Yes,50000.0,No,NaN,NaN,Yes,15000.0,No,NaN,No,NaN,NaN,https://villageenterprise.my.salesforce.com/sf...,Yes,"2.097427, 33.716227",1119.7,Yes,https://villageenterprise.my.salesforce.com/sf...,2023-11-17 14:22:10.478+03,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Okurut David,174305,Acedo Goretty,FY18C1 Mary Immaculate Akello,Uganda,Core,Soroti,Akeriau,Akisim,9,David,Okurut,Joyce,Elizabeth,Jeffrey,Emmanuel,Thomas,Paul,Dominic,Christine,NaN,NaN,NaN,NaN,Asango,Aliba,Ochen,Oumeno,Egedo,Eselu,Okurut,Alimo,NaN,NaN,NaN,NaN,2,0,1,0,Yes,25000.0,No,NaN,NaN,NaN,Yes,Yes,Livestock,Poorer,No,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,1.0,Basin,25000.0,Yes,2.0,Basin,25000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,1.0,Piece,1000.0,Yes,35.0,Heap,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,Yes,0.5,Kilogram,6000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,1.0,Sacket,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,5.0,Cup,1000.0,No,NaN,NaN,NaN,NaN,Yes,5000.0,Yes,2000.0,No,NaN,No,NaN,No,NaN,Yes,10000.0,Yes,6000.0,No,NaN,No,NaN,No,NaN,No,NaN,Yes,2000.0,No,NaN,No,NaN,No,NaN,NaN,No,NaN,No,NaN,No,NaN,Yes,18000.0,Yes,3000.0,No,NaN,Yes,3000.0,No,NaN,Yes,12000.0,Yes,24000.0,No,NaN,Yes,15000.0,No,NaN,Yes,58000.0,No,NaN,NaN,Yes,138000.0,No,NaN,Yes,100000.0,Yes,10000.0,No,NaN,NaN,Yes,20000.0,No,NaN,No,NaN,NaN,https://villageenterprise.my.salesforce.com/sf...,Yes,"2.073535, 33.741608",1154.0,Yes,https://villageenterprise.my.salesforce.com/sf...,2023-11-20 16:40:17.815+03,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,We could do that by ourselves

Explantion
- This function now takes `updated_dataset1` as input and renames its columns according to the `new_names` dictionary, returning the cleaned DataFrame as `Dataset1_clean`.

### Test: Question 2(a)

In [67]:
# Define a list of hh_ids to filter for
hh_id_test_list = ["173595", "173572"]
hh_id_test_list = Dataset1_clean[ (Dataset1_clean['hh_id'] == hh_id_test_list[0]) | (Dataset1_clean['hh_id'] == hh_id_test_list[1]) ]
hh_id_test_list

,hh_name,hh_id,mobileuser,bm_cycle,country,project,office,subcounty_or_sublocation,village,household_members,respondent_given_name_1,respondent_surname_1,given_name_household_member_1,given_name_household_member_2,given_name_household_member_3,given_name_household_member_4,given_name_household_member_5,given_name_household_member_6,given_name_household_member_7,given_name_household_member_8,given_name_household_member_9,given_name_household_member_10,given_name_household_member_11,given_name_household_member_12,surname_household_member_1,surname_household_member_2,surname_household_member_3,surname_household_member_4,surname_household_member_5,surname_household_member_6,surname_household_member_7,surname_household_member_8,surname_household_member_9,surname_household_member_10,surname_household_member_11,surname_household_member_12,meals,sugar_intake,fish_meat_intake,legumes_intake,currently_save,saved_amount,difficult_situation,explain_difficult_situation,difficult_situatio_support,difficult_situation_recover,future_shocks,future_shocks_advances,advance_details,richer_or_poorer,members_away,household_members_away,consumption_rice,quantity_rice,ucode_rice,ucost_rice,consumption_maizeflour,quantity_maizeflour,ucode_maizeflour,ucost_maizeflour,consumption_maizecobs,quantity_maizecobs,ucode_maizecobs,ucost_maizecobs,consumption_millet,quantity_millet,ucode_millet,ucost_millet,consumption_sorghum,quantity_sorghum,ucode_sorghum,ucost_sorghum,consumption_matooke,quantity_matooke,ucode_matooke,ucost_matooke,consumption_irishpotatoes,quantity_irishpotatoes,ucode_irishpotatoes,ucost_irishpotatoes,consumption_sweetpotatoes,quantity_sweetpotatoes,ucode_sweetpotatoes,ucost_sweetpotatoes,consumption_cassava,quantity_cassava,ucode_cassava,ucost_cassava,consumption_yams,quantity_yams,ucode_yams,ucost_yams,consumption_pumpkin,quantity_pumpkin,ucode_pumpkin,ucost_pumpkin,consumption_carrots,quantity_carrots,ucode_carrots,ucost_carrots,consumption_cabbage,quantity_cabbage,ucode_cabbage,ucost_cabbage,consumption_localgreens,quantity_localgreens,ucode_localgreens,ucost_localgreens,consumption_tomatoes,quantity_tomatoes,ucode_tomatoes,ucost_tomatoes,consumption_onions,quantity_onions,ucode_onions,ucost_onions,consumption_mangoes,quantity_mangoes,ucode_mangoes,ucost_mangoes,consumption_pawpaw,quantity_pawpaw,ucode_pawpaw,ucost_pawpaw,consumption_jackfruit,quantity_jackfruit,ucost_jackfruit,consumption_avocados,quantity_avocados,ucode_avocados,ucost_avocados,consumption_sweetbananas,quantity_sweetbananas,ucode_sweetbananas,ucost_sweetbananas,consumption_otherfruitveg,specify_otherfruitveg_descri,quantity_otherfruitveg,ucode_otherfruitveg,ucost_otherfruitveg,consumption_organmeats,quantity_organmeats,ucode_organmeats,ucost_organmeats,consumption_meat,quantity_meat,ucode_meat,ucost_meat,consumption_fish,quantity_fish,ucode_fish,ucost_fish,consumption_eggs,quantity_eggs,ucode_eggs,ucost_eggs,consumption_dairy,quantity_dairy,ucode_dairy,ucost_dairy,consumption_nuts,quantity_nuts,ucode_nuts,ucost_nuts,consumption_legumes,quantity_legumes,ucode_legumes,ucost_legumes,consumption_cookingoil,quantity_cookingoil,ucode_cookingoil,ucost_cookingoil,consumption_sugar,quantity_sugar,ucode_sugar,ucost_sugar,consumption_salt,quantity_salt,ucode_salt,ucost_salt,consumption_royco,quantity_royco,ucode_royco,ucost_royco,consumption_tea,quantity_tea,ucode_tea,ucost_tea,consumption_alcohol,quantity_alcohol,ucode_alcohol,ucost_alcohol,consumption_otherfood,specify_otherfood,quantity_other_food,ucode_otherfood,ucost_otherfood,expenditure_milling,amount_milling,expenditure_water,amount_water,expenditure_electricity,amount_electricity,expenditure_charcoal,amount_charcoal,expenditure_otherfuel,amount_otherfuel,expenditure_hhoperation,amount_hhoperation,expenditure_cosmetics,amount_cosmetics,expenditure_hairdressing,amount_hairdressing,expenditure_petrol,amount_petrol,expenditure_repairs,amount_repairs,expenditure_transportationfares,amount_transportationfares,expenditure_mobileairtime,amount_mobileairtime,expenditure_recreation,amount_recreation,expenditure_hotel,amount_hotel_lodging,expenditure_other_services,specify_other_services,amount_otherservices,expenditure_mens_clothing,amount_mens_clothing,expenditure_womens_clothing,amount_womens_clothing,expenditure_children_clothing,amount_children_clothing,expenditure_mens_footwear,amount_mens_footwear,expenditure_womens_footwear,amount_womens_footwear,expenditure_childrens_footwear,amount_childrens_footwear,expenditure_otherclothing,amount_otherclothing,expenditure_furniture,amount_furniture,expenditure_textiles,amount_textiles,expenditure_glassware,amount_glassware,expenditure_hhappliances,amount_hhappliances,expenditure_medicines,amount_medicines,expenditure_doctor_consultation,amount_doctor_consultation,expenditure_hospital,amount_hospital,expenditure_other,specify_otherhealth,amount_otherhealth,expenditure_schoolfees,amount_schoolfees,expenditure_boardingschool,amount_boardingschool,expenditure_schooluniforms,amount_schooluniforms,expenditure_books,amount_books,expenditure_other_educationalexp,specify_other_educational_expens,amount_other_educationalexpense,expenditure_ceremonial,amount_ceremonialexpense,expenditure_fees_taxes_premiums,amount_fees_taxes_premiums,expenditure_other_infrequent_exp,specify_other_infrequent_expense,amount_infrequent_expense,picture,confirmation,gps_location_latitude_longitudel,gps_location_latitude_longitudea,double_check,signature,end_time,respondent_given_name_2,respondent_surname_2,medical_attention,given_name_household_member_13,given_name_household_member_14,given_name_household_member_15,surname_household_member_13,surname_household_member_14,surname_household_member_15,respondent_given_name_3,respondent_given_name_4,respondent_given_name_5,respondent_surname_3,respondent_surname_4,respondent_surname_5,given_name_household_member_16,given_name_household_member_17,given_name_household_member_18,given_name_household_member_19,given_name_household_member_20,given_name_household_member_21,given_name_household_member_22,given_name_household_member_23,given_name_household_member_24,given_name_household_member_25,given_name_household_member_26,surname_household_member_16,surname_household_member_17,surname_household_member_18,surname_household_member_19,surname_household_member_20,surname_household_member_21,surname_household_member_22,surname_household_member_23,surname_household_member_24,surname_household_member_25,surname_household_member_26,why_least_appreciated
0,Awoyo Rosa,173595,Acedo Goretty,FY18C1 Onaba Samuel,Uganda,Core,Soroti,Akeriau,Adodoi,3,Rosa,Awoyo,Richard,Joyce mary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edong,Aduo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,7,Yes,50000.0,Yes,Sickness,Yes,"Yes, partially recovered",Yes,Yes,Has a goat and cassava,Poorer,No,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,3.0,Basin,99.0,Yes,1.0,Basin,25000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,4.0,Heap,500.0,Yes,2.0,Heap,500.0,Yes,1.0,Heap,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,8.0,Cup,2000.0,Yes,2.0,Sacket,500.0,No,NaN,NaN,NaN,Yes,1.0,Sacket,600.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,2.0,Cup,1000.0,No,NaN,NaN,NaN,NaN,Yes,1500.0,Yes,2000.0,No,NaN,No,NaN,No,NaN,Yes,8000.0,Yes,20000.0,No,NaN,No,NaN,No,NaN,Yes,100000.0,Yes,50000.0,Yes,14000.0,No,NaN,No,NaN,NaN,Yes,100000.0,Yes,50000.0,Yes,100000.0,Yes,50000.0,Yes,66000.0,Yes,20000.0,Yes,80000.0,Yes,300000.0,Yes,100000.0,Yes,70000.0,No,NaN,Yes,10000.0,No,NaN,Yes,100000.0,No,NaN,NaN,No,NaN,No,NaN,No,NaN,No,NaN,No,NaN,NaN,Yes,80000.0,No,NaN,No,NaN,NaN,https://villageenterprise.my.salesforce.com/sf...,Yes,"2.091688, 33.716918",1102.6,Yes,https://villageenterprise.my.salesforce.com/sf...,2023-11-17 15:09:39.163+03,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Asio Margate,173572,Acedo Goretty,FY18C1 Onaba Samuel,Uganda,Core,Soroti,Akeriau,Adodoi,8,Magrate,Asio,Joseph,Ben,Magrate,Philip,Betty,Susan,NaN,NaN,NaN,NaN,NaN,NaN,Elungat,Edonu,Akiror,Opolot,Asio,Arayo,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,7,Yes,40000.0,No,NaN,NaN,NaN,Yes,Yes,Livestock and food crops,Richer,No,NaN,Yes,8.0,Kilogram,5000.0,Yes,12.0,Kilogram,3000.0,Yes,3.0,Basin,7000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,2.0,Basin,10000.0,Yes,1.0,Basin,18000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,2.0,Heap,500.0,Yes,1.0,Heap,1000.0,Yes,2.0,Piece,100.0,Yes,1.0,Heap,500.0,Yes,3.0,Whole,500.0,No,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,6.0,Whole,500.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,12.0,Cup,2000.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,1.0,Pack,600.0,No,NaN,NaN,NaN,No,NaN,NaN,NaN,Yes,5.0,Gorogoro,5000.0,Yes,Fish,1.0,Other,3000.0,Yes,6000.0,Yes,2000.0,No,NaN,No,NaN,No,NaN,Yes,8000.0,Yes,10000.0,Yes,2000.0,No,NaN,No,NaN,Yes,80000.0,Yes,10000.0,No,NaN,No,NaN,No,NaN,NaN,Yes,100000.0,Yes,50000.0,Yes,30000.0,Yes,60000.0,Yes,70000.0,Yes,20000.0,Yes,20000.0,Yes,150000.0,Yes,48000.0,Yes,24000.0,No,NaN,Yes,50000.0,Yes,20000.0,Yes,100000.0,No,NaN,NaN,Yes,90000.0,No,NaN,Yes,40000.0,Yes,50000.0,No,NaN,NaN,Yes,15000.0,No,NaN,No,NaN,NaN,https://villageenterprise.my.salesforce.com/sf...,Yes,"2.097427, 33.716227",1119.7,Yes,https://villageenterprise.my.salesforce.com/sf...,2023-11-17 14:22:10.478+03,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Question 2(b):
- This data is wide by `hh_id`. Reshape the data to a long format for all `consumption_` `quantity_` `ucode_` `ucost_`. Save the new variable created as `Product`

In [71]:
# Function to reshape the DataFrame from wide to long format
def identify_columns_to_melt(df):
    # Identify columns to melt
    melt_columns = [col for col in df.columns if col.startswith(('consumption_', 'quantity_', 'ucode_', 'ucost_'))]

    # Count the number of records in the list
    num_records = len(melt_columns)

    # Print the number of records
    print(f"The number of columns is: {num_records}")
    return melt_columns

print(identify_columns_to_melt(Dataset1_clean))

The number of columns is: 143
['consumption_rice', 'quantity_rice', 'ucode_rice', 'ucost_rice', 'consumption_maizeflour', 'quantity_maizeflour', 'ucode_maizeflour', 'ucost_maizeflour', 'consumption_maizecobs', 'quantity_maizecobs', 'ucode_maizecobs', 'ucost_maizecobs', 'consumption_millet', 'quantity_millet', 'ucode_millet', 'ucost_millet', 'consumption_sorghum', 'quantity_sorghum', 'ucode_sorghum', 'ucost_sorghum', 'consumption_matooke', 'quantity_matooke', 'ucode_matooke', 'ucost_matooke', 'consumption_irishpotatoes', 'quantity_irishpotatoes', 'ucode_irishpotatoes', 'ucost_irishpotatoes', 'consumption_sweetpotatoes', 'quantity_sweetpotatoes', 'ucode_sweetpotatoes', 'ucost_sweetpotatoes', 'consumption_cassava', 'quantity_cassava', 'ucode_cassava', 'ucost_cassava', 'consumption_yams', 'quantity_yams', 'ucode_yams', 'ucost_yams', 'consumption_pumpkin', 'quantity_pumpkin', 'ucode_pumpkin', 'ucost_pumpkin', 'consumption_carrots', 'quantity_carrots', 'ucode_carrots', 'ucost_carrots', 'consumption_cabbage', 'quantity_cabbage', 'ucode_cabbage', 'ucost_cabbage', 'consumption_localgreens', 'quantity_localgreens', 'ucode_localgreens', 'ucost_localgreens', 'consumption_tomatoes', 'quantity_tomatoes', 'ucode_tomatoes', 'ucost_tomatoes', 'consumption_onions', 'quantity_onions', 'ucode_onions', 'ucost_onions', 'consumption_mangoes', 'quantity_mangoes', 'ucode_mangoes', 'ucost_mangoes', 'consumption_pawpaw', 'quantity_pawpaw', 'ucode_pawpaw', 'ucost_pawpaw', 'consumption_jackfruit', 'quantity_jackfruit', 'ucost_jackfruit', 'consumption_avocados', 'quantity_avocados', 'ucode_avocados', 'ucost_avocados', 'consumption_sweetbananas', 'quantity_sweetbananas', 'ucode_sweetbananas', 'ucost_sweetbananas', 'consumption_otherfruitveg', 'quantity_otherfruitveg', 'ucode_otherfruitveg', 'ucost_otherfruitveg', 'consumption_organmeats', 'quantity_organmeats', 'ucode_organmeats', 'ucost_organmeats', 'consumption_meat', 'quantity_meat', 'ucode_meat', 'ucost_meat', 'consumption_fish', 'quantity_fish', 'ucode_fish', 'ucost_fish', 'consumption_eggs', 'quantity_eggs', 'ucode_eggs', 'ucost_eggs', 'consumption_dairy', 'quantity_dairy', 'ucode_dairy', 'ucost_dairy', 'consumption_nuts', 'quantity_nuts', 'ucode_nuts', 'ucost_nuts', 'consumption_legumes', 'quantity_legumes', 'ucode_legumes', 'ucost_legumes', 'consumption_cookingoil', 'quantity_cookingoil', 'ucode_cookingoil', 'ucost_cookingoil', 'consumption_sugar', 'quantity_sugar', 'ucode_sugar', 'ucost_sugar', 'consumption_salt', 'quantity_salt', 'ucode_salt', 'ucost_salt', 'consumption_royco', 'quantity_royco', 'ucode_royco', 'ucost_royco', 'consumption_tea', 'quantity_tea', 'ucode_tea', 'ucost_tea', 'consumption_alcohol', 'quantity_alcohol', 'ucode_alcohol', 'ucost_alcohol', 'consumption_otherfood', 'quantity_other_food', 'ucode_otherfood', 'ucost_otherfood']

In [72]:
# Function to reshape the DataFrame from wide to long format
def reshape_data_wide_to_long(df):
    # Step 1: Melt the consumption columns
    consumption_columns = [col for col in df.columns if col.startswith('consumption_')]
    consumption_long = pd.melt(
        df,
        id_vars=['hh_id', 'country'],
        value_vars=consumption_columns,
        var_name='Product',
        value_name='consumption'
    )
    # Remove the 'consumption_' prefix from the 'Product' column
    consumption_long['Product'] = consumption_long['Product'].str.replace('consumption_', '')

    # Step 2: Melt the quantity columns
    quantity_columns = [col for col in df.columns if col.startswith('quantity_')]
    quantity_long = pd.melt(
        df,
        id_vars=['hh_id', 'country'],
        value_vars=quantity_columns,
        var_name='Product',
        value_name='quantity'
    )
    # Remove the 'quantity_' prefix from the 'Product' column
    quantity_long['Product'] = quantity_long['Product'].str.replace('quantity_', '')

    # Step 3: Melt the ucost columns
    ucost_columns = [col for col in df.columns if col.startswith('ucost_')]
    ucost_long = pd.melt(
        df,
        id_vars=['hh_id', 'country'],
        value_vars=ucost_columns,
        var_name='Product',
        value_name='ucost'
    )
    # Remove the 'ucost_' prefix from the 'Product' column
    ucost_long['Product'] = ucost_long['Product'].str.replace('ucost_', '')

    # Step 4: Melt the ucode columns
    ucode_columns = [col for col in df.columns if col.startswith('ucode_')]
    ucode_long = pd.melt(
        df,
        id_vars=['hh_id', 'country'],
        value_vars=ucode_columns,
        var_name='Product',
        value_name='ucode'
    )
    # Remove the 'ucode_' prefix from the 'Product' column
    ucode_long['Product'] = ucode_long['Product'].str.replace('ucode_', '')

    # Step 5: Merge all long DataFrames on 'hh_id' and 'Product'
    Dataset1_clean_in_long_format = pd.merge(consumption_long, quantity_long, on=['hh_id','country', 'Product'], how='left')
    Dataset1_clean_in_long_format = pd.merge(Dataset1_clean_in_long_format, ucost_long, on=['hh_id','country', 'Product'], how='left')
    Dataset1_clean_in_long_format = pd.merge(Dataset1_clean_in_long_format, ucode_long, on=['hh_id', 'country', 'Product'], how='left')
    
    # Check the number of observations (rows) and variables (columns)
    num_observations = Dataset1_clean_in_long_format.shape[0]
    num_variables = Dataset1_clean_in_long_format.shape[1]

    print(f"Number of observations (rows): {num_observations}")
    print(f"Number of variables (columns): {num_variables}")
    return Dataset1_clean_in_long_format

Dataset1_clean_in_long_format = reshape_data_wide_to_long(Dataset1_clean)

# save the result to a dataframe
Dataset1_clean_in_long_format.to_csv("Dataset1_clean_in_long_format.csv", index=False)

# preview the result
Dataset1_clean_in_long_format.head()

Number of observations (rows): 89808
Number of variables (columns): 7

    hh_id country Product consumption  quantity   ucost     ucode
0  173595  Uganda    rice          No       NaN     NaN       NaN
1  173572  Uganda    rice         Yes       8.0  5000.0  Kilogram
2  174305  Uganda    rice          No       NaN     NaN       NaN
3  174401  Uganda    rice          No       NaN     NaN       NaN
4  175138  Uganda    rice         Yes       2.0  5000.0  Kilogram

### Explanation: Question 2(b)
- Identify columns starting with `consumption_` and melt them, then remove the prefix from the Product column.
- Identify columns starting with `quantity_` and melt them, then remove the prefix from the Product column.
-  Identify columns starting with `ucost_` and melt them, then remove the prefix from the Product column.
-  Identify columns starting with `ucode_` and melt them, then remove the prefix from the Product column.
-  Merge all the long DataFrames on `hh_id` and Product using left joins.

### Test: Question 2(b)

In [73]:
# Define a list of hh_ids to filter for
test_hh_id_list = ["173595"]
test_hh_id_list_df = Dataset1_clean_in_long_format[ (Dataset1_clean_in_long_format['hh_id'] == test_hh_id_list[0])]
print(test_hh_id_list_df.shape)
test_hh_id_list_df

(36, 7)

        hh_id country        Product consumption  quantity    ucost   ucode
0      173595  Uganda           rice          No       NaN      NaN     NaN
2496   173595  Uganda     maizeflour          No       NaN      NaN     NaN
4992   173595  Uganda      maizecobs          No       NaN      NaN     NaN
7488   173595  Uganda         millet          No       NaN      NaN     NaN
9984   173595  Uganda        sorghum          No       NaN      NaN     NaN
12480  173595  Uganda        matooke          No       NaN      NaN     NaN
14976  173595  Uganda  irishpotatoes          No       NaN      NaN     NaN
17472  173595  Uganda  sweetpotatoes         Yes       3.0     99.0   Basin
19968  173595  Uganda        cassava         Yes       1.0  25000.0   Basin
22464  173595  Uganda           yams          No       NaN      NaN     NaN
24960  173595  Uganda        pumpkin          No       NaN      NaN     NaN
27456  173595  Uganda        carrots          No       NaN      NaN     NaN
29952  173595  Uganda        cabbage          No       NaN      NaN     NaN
32448  173595  Uganda    localgreens         Yes       4.0    500.0    Heap
34944  173595  Uganda       tomatoes         Yes       2.0    500.0    Heap
37440  173595  Uganda         onions         Yes       1.0    500.0    Heap
39936  173595  Uganda        mangoes          No       NaN      NaN     NaN
42432  173595  Uganda         pawpaw          No       NaN      NaN     NaN
44928  173595  Uganda      jackfruit          No       NaN      NaN     NaN
47400  173595  Uganda       avocados          No       NaN      NaN     NaN
49896  173595  Uganda   sweetbananas          No       NaN      NaN     NaN
52392  173595  Uganda  otherfruitveg          No       NaN      NaN     NaN
54888  173595  Uganda     organmeats          No       NaN      NaN     NaN
57384  173595  Uganda           meat          No       NaN      NaN     NaN
59880  173595  Uganda           fish          No       NaN      NaN     NaN
62376  173595  Uganda           eggs          No       NaN      NaN     NaN
64872  173595  Uganda          dairy          No       NaN      NaN     NaN
67368  173595  Uganda           nuts          No       NaN      NaN     NaN
69864  173595  Uganda        legumes         Yes       8.0   2000.0     Cup
72360  173595  Uganda     cookingoil         Yes       2.0    500.0  Sacket
74856  173595  Uganda          sugar          No       NaN      NaN     NaN
77352  173595  Uganda           salt         Yes       1.0    600.0  Sacket
79848  173595  Uganda          royco          No       NaN      NaN     NaN
82344  173595  Uganda            tea          No       NaN      NaN     NaN
84840  173595  Uganda        alcohol         Yes       2.0   1000.0     Cup
87336  173595  Uganda      otherfood          No       NaN      NaN     NaN

# Question 3

## Question 3(a): Replace both `quantity` and `ucost` to `zero`, where there was not `consumption` (`consumption=No`)

In [74]:
def replace_zero_where_no_consumption(df):
    """
    Replace quantity and ucost with zero where consumption is 'No'.
    
    Parameters:
    df (pd.DataFrame): The input DataFrame with columns ['hh_id', 'Product', 'consumption', 'quantity', 'ucost', 'ucode'].
    
    Returns:
    pd.DataFrame: The modified DataFrame with quantity and ucost set to zero where consumption is 'NO'.
    """
    df_copy = df.copy()
    condition = df_copy['consumption'] == 'No'
    
    # Replace quantity and ucost with zero where consumption is 'NO'
    df_copy.loc[condition, 'quantity'] = df_copy.loc[condition, 'quantity'].fillna(0)
    df_copy.loc[condition, 'ucost'] = df_copy.loc[condition, 'ucost'].fillna(0)

    print("Resultant dataframe shape:", df_copy.shape)

    return df_copy

# Apply the function to Dataset1_clean_long_format
Dataset1_clean_in_long_format_modified = replace_zero_where_no_consumption(Dataset1_clean_in_long_format)

# Save the result to a CSV file
# Dataset1_clean_in_long_format_modified.to_csv("Dataset1_clean_long_format_modified.csv", index=False)

# preview the result
Dataset1_clean_in_long_format_modified.head()

Resultant dataframe shape: (89808, 7)

    hh_id country Product consumption  quantity   ucost     ucode
0  173595  Uganda    rice          No       0.0     0.0       NaN
1  173572  Uganda    rice         Yes       8.0  5000.0  Kilogram
2  174305  Uganda    rice          No       0.0     0.0       NaN
3  174401  Uganda    rice          No       0.0     0.0       NaN
4  175138  Uganda    rice         Yes       2.0  5000.0  Kilogram

### Explanation 3(a)
- Define `replace_zero_where_no_consumption(df)` takes a DataFrame `df` as input and creates a copy of the input DataFrame to avoid modifying the original DataFrame.
- It identifies rows where consumption is "`No`"
- For these rows, it fills `None` (or `NaN`) values in `quantity` and `ucost` columns with `0`.

### Test: Question 3(a)

In [75]:
# Define a list of hh_ids to filter for
test_hh_id_list = ["173595"]
test_hh_id_list_df = Dataset1_clean_in_long_format_modified[ (Dataset1_clean_in_long_format_modified['hh_id'] == test_hh_id_list[0])]
print(test_hh_id_list_df.shape)
test_hh_id_list_df

(36, 7)

        hh_id country        Product consumption  quantity    ucost   ucode
0      173595  Uganda           rice          No       0.0      0.0     NaN
2496   173595  Uganda     maizeflour          No       0.0      0.0     NaN
4992   173595  Uganda      maizecobs          No       0.0      0.0     NaN
7488   173595  Uganda         millet          No       0.0      0.0     NaN
9984   173595  Uganda        sorghum          No       0.0      0.0     NaN
12480  173595  Uganda        matooke          No       0.0      0.0     NaN
14976  173595  Uganda  irishpotatoes          No       0.0      0.0     NaN
17472  173595  Uganda  sweetpotatoes         Yes       3.0     99.0   Basin
19968  173595  Uganda        cassava         Yes       1.0  25000.0   Basin
22464  173595  Uganda           yams          No       0.0      0.0     NaN
24960  173595  Uganda        pumpkin          No       0.0      0.0     NaN
27456  173595  Uganda        carrots          No       0.0      0.0     NaN
29952  173595  Uganda        cabbage          No       0.0      0.0     NaN
32448  173595  Uganda    localgreens         Yes       4.0    500.0    Heap
34944  173595  Uganda       tomatoes         Yes       2.0    500.0    Heap
37440  173595  Uganda         onions         Yes       1.0    500.0    Heap
39936  173595  Uganda        mangoes          No       0.0      0.0     NaN
42432  173595  Uganda         pawpaw          No       0.0      0.0     NaN
44928  173595  Uganda      jackfruit          No       0.0      0.0     NaN
47400  173595  Uganda       avocados          No       0.0      0.0     NaN
49896  173595  Uganda   sweetbananas          No       0.0      0.0     NaN
52392  173595  Uganda  otherfruitveg          No       0.0      0.0     NaN
54888  173595  Uganda     organmeats          No       0.0      0.0     NaN
57384  173595  Uganda           meat          No       0.0      0.0     NaN
59880  173595  Uganda           fish          No       0.0      0.0     NaN
62376  173595  Uganda           eggs          No       0.0      0.0     NaN
64872  173595  Uganda          dairy          No       0.0      0.0     NaN
67368  173595  Uganda           nuts          No       0.0      0.0     NaN
69864  173595  Uganda        legumes         Yes       8.0   2000.0     Cup
72360  173595  Uganda     cookingoil         Yes       2.0    500.0  Sacket
74856  173595  Uganda          sugar          No       0.0      0.0     NaN
77352  173595  Uganda           salt         Yes       1.0    600.0  Sacket
79848  173595  Uganda          royco          No       0.0      0.0     NaN
82344  173595  Uganda            tea          No       0.0      0.0     NaN
84840  173595  Uganda        alcohol         Yes       2.0   1000.0     Cup
87336  173595  Uganda      otherfood          No       0.0      0.0     NaN

## Question 3(b): Replace both `quantity` and `ucost` to `missing` where the `quantity` captured is either equal to `99`, `98` or `999`

In [76]:
def replace_with_missing_for_specific_quantities(df):
    """
    Replace quantity and ucost with 'missing' where quantity is either 99, 98, or 999.
    
    Parameters:
    df (pd.DataFrame): The input DataFrame with columns ['hh_id', 'Product', 'consumption', 'quantity', 'ucost', 'ucode'].
    
    Returns:
    pd.DataFrame: The modified DataFrame with quantity and ucost set to 'missing' where quantity is either 99, 98, or 999.
    """
    df_copy = df.copy()

    # Convert quantity and ucost columns to float type to handle NaN values
    df_copy['quantity'] = df_copy['quantity'].astype(float)
    df_copy['ucost'] = df_copy['ucost'].astype(float)
    
    # Condition to identify rows where quantity is 99, 98, or 999 or ucost is 99, 98, or 999
    quantity_condition = df_copy['quantity'].isin([99, 98, 999])
    ucost_condition = df_copy['ucost'].isin([99, 98, 999])
    
    # Replace quantity and ucost with NaN where the condition is met
    df_copy.loc[quantity_condition, ['quantity', 'ucost']] = np.nan
    df_copy.loc[ucost_condition, ['quantity', 'ucost']] = np.nan
    
    return df_copy

# Apply the function to Dataset1_clean_long_format
Dataset1_clean_in_long_format_modified = replace_with_missing_for_specific_quantities(Dataset1_clean_in_long_format_modified)

# Save the result to a CSV file
# Dataset1_clean_in_long_format_modified.to_csv("Dataset1_clean_in_long_format_modified.csv", index=False)

# Preview the result
Dataset1_clean_in_long_format_modified.head()

    hh_id country Product consumption  quantity   ucost     ucode
0  173595  Uganda    rice          No       0.0     0.0       NaN
1  173572  Uganda    rice         Yes       8.0  5000.0  Kilogram
2  174305  Uganda    rice          No       0.0     0.0       NaN
3  174401  Uganda    rice          No       0.0     0.0       NaN
4  175138  Uganda    rice         Yes       2.0  5000.0  Kilogram

### Explanation 3(b)
- This function first creates a copy of the input DataFrame and then converts the `quantity` and `ucost` columns to `float` to handle `NaN` values. It then creates two conditions: one for `quantity` and one for `ucost`, checking if either column contains the values `[99, 98, 999]`. The code then replaces `quantity` and `ucost` with `NaN` wherever these conditions are met.

### Test 3(b)

In [77]:
# Define a list of hh_ids to filter for
test_hh_id_list = ["173595"]
test_hh_id_list_df = Dataset1_clean_in_long_format_modified[ (Dataset1_clean_in_long_format_modified['hh_id'] == test_hh_id_list[0])]
print(test_hh_id_list_df.shape)
test_hh_id_list_df

(36, 7)

        hh_id country        Product consumption  quantity    ucost   ucode
0      173595  Uganda           rice          No       0.0      0.0     NaN
2496   173595  Uganda     maizeflour          No       0.0      0.0     NaN
4992   173595  Uganda      maizecobs          No       0.0      0.0     NaN
7488   173595  Uganda         millet          No       0.0      0.0     NaN
9984   173595  Uganda        sorghum          No       0.0      0.0     NaN
12480  173595  Uganda        matooke          No       0.0      0.0     NaN
14976  173595  Uganda  irishpotatoes          No       0.0      0.0     NaN
17472  173595  Uganda  sweetpotatoes         Yes       NaN      NaN   Basin
19968  173595  Uganda        cassava         Yes       1.0  25000.0   Basin
22464  173595  Uganda           yams          No       0.0      0.0     NaN
24960  173595  Uganda        pumpkin          No       0.0      0.0     NaN
27456  173595  Uganda        carrots          No       0.0      0.0     NaN
29952  173595  Uganda        cabbage          No       0.0      0.0     NaN
32448  173595  Uganda    localgreens         Yes       4.0    500.0    Heap
34944  173595  Uganda       tomatoes         Yes       2.0    500.0    Heap
37440  173595  Uganda         onions         Yes       1.0    500.0    Heap
39936  173595  Uganda        mangoes          No       0.0      0.0     NaN
42432  173595  Uganda         pawpaw          No       0.0      0.0     NaN
44928  173595  Uganda      jackfruit          No       0.0      0.0     NaN
47400  173595  Uganda       avocados          No       0.0      0.0     NaN
49896  173595  Uganda   sweetbananas          No       0.0      0.0     NaN
52392  173595  Uganda  otherfruitveg          No       0.0      0.0     NaN
54888  173595  Uganda     organmeats          No       0.0      0.0     NaN
57384  173595  Uganda           meat          No       0.0      0.0     NaN
59880  173595  Uganda           fish          No       0.0      0.0     NaN
62376  173595  Uganda           eggs          No       0.0      0.0     NaN
64872  173595  Uganda          dairy          No       0.0      0.0     NaN
67368  173595  Uganda           nuts          No       0.0      0.0     NaN
69864  173595  Uganda        legumes         Yes       8.0   2000.0     Cup
72360  173595  Uganda     cookingoil         Yes       2.0    500.0  Sacket
74856  173595  Uganda          sugar          No       0.0      0.0     NaN
77352  173595  Uganda           salt         Yes       1.0    600.0  Sacket
79848  173595  Uganda          royco          No       0.0      0.0     NaN
82344  173595  Uganda            tea          No       0.0      0.0     NaN
84840  173595  Uganda        alcohol         Yes       2.0   1000.0     Cup
87336  173595  Uganda      otherfood          No       0.0      0.0     NaN

## Question 3(c) and 3(d): 
- For all values of `ucost` less than `100` shillings in `Uganda`, replace them to `missing`
- For all values of `ucost` less than `5` shillings in `Kenya`, replace them to missing

In [78]:
def replace_ucost_based_on_country(df):
    """
    Replace ucost with NaN based on specific conditions for each country.
    
    Parameters:
    df (pd.DataFrame): The input DataFrame with columns ['hh_id', 'country', 'Product', 'consumption', 'quantity', 'ucost', 'ucode'].
    
    Returns:
    pd.DataFrame: The modified DataFrame with ucost set to NaN based on specified conditions for each country.
    """
    df_copy = df.copy()

    # Convert ucost column to float type to handle NaN values
    df_copy['ucost'] = df_copy['ucost'].astype(float)

    # Replace ucost with NaN for values less than 100 in Uganda
    uganda_condition = (df_copy['country'] == 'Uganda') & (df_copy['ucost'] < 100)
    df_copy.loc[uganda_condition, 'ucost'] = np.nan

    # Replace ucost with NaN for values less than 5 in Kenya
    kenya_condition = (df_copy['country'] == 'Kenya') & (df_copy['ucost'] < 5)
    df_copy.loc[kenya_condition, 'ucost'] = np.nan

    return df_copy

# Apply the function to Dataset1_clean_long_format_modified
Dataset1_clean_in_long_format_modified_adjusted_ucost_based_on_country = replace_ucost_based_on_country(Dataset1_clean_in_long_format_modified)

# Save the result to a CSV file
# Dataset1_clean_in_long_format_modified_adjusted_ucost_based_on_country.to_csv("Dataset1_clean_in_long_format_modified_adjusted_ucost_based_on_country.csv", index=False)

# Preview the result
Dataset1_clean_in_long_format_modified_adjusted_ucost_based_on_country.head()

    hh_id country Product consumption  quantity   ucost     ucode
0  173595  Uganda    rice          No       0.0     NaN       NaN
1  173572  Uganda    rice         Yes       8.0  5000.0  Kilogram
2  174305  Uganda    rice          No       0.0     NaN       NaN
3  174401  Uganda    rice          No       0.0     NaN       NaN
4  175138  Uganda    rice         Yes       2.0  5000.0  Kilogram

### Explanation 3(c) & 3(d)
- Creates a copy of the DataFrame to avoid modifying the original data.
  - Converts the `ucost` column to `float` to handle `NaN` values.
  - Defines conditions for `Uganda` and `Kenya` based on the `country` and the `ucost` value.
  - Replaces `ucost` with `NaN` for values `less than 100 `in `Uganda`.
  - Replaces `ucost` with `NaN` for values `less than 5` in `Kenya`.

### Test 3(c) & 3(d)

In [79]:
# Define a list of hh_ids to filter for
test_hh_id_list = ["173595"]
test_hh_id_list_df = Dataset1_clean_in_long_format_modified_adjusted_ucost_based_on_country[ (Dataset1_clean_in_long_format_modified_adjusted_ucost_based_on_country['hh_id'] == test_hh_id_list[0])]
print(test_hh_id_list_df.shape)
test_hh_id_list_df

(36, 7)

        hh_id country        Product consumption  quantity    ucost   ucode
0      173595  Uganda           rice          No       0.0      NaN     NaN
2496   173595  Uganda     maizeflour          No       0.0      NaN     NaN
4992   173595  Uganda      maizecobs          No       0.0      NaN     NaN
7488   173595  Uganda         millet          No       0.0      NaN     NaN
9984   173595  Uganda        sorghum          No       0.0      NaN     NaN
12480  173595  Uganda        matooke          No       0.0      NaN     NaN
14976  173595  Uganda  irishpotatoes          No       0.0      NaN     NaN
17472  173595  Uganda  sweetpotatoes         Yes       NaN      NaN   Basin
19968  173595  Uganda        cassava         Yes       1.0  25000.0   Basin
22464  173595  Uganda           yams          No       0.0      NaN     NaN
24960  173595  Uganda        pumpkin          No       0.0      NaN     NaN
27456  173595  Uganda        carrots          No       0.0      NaN     NaN
29952  173595  Uganda        cabbage          No       0.0      NaN     NaN
32448  173595  Uganda    localgreens         Yes       4.0    500.0    Heap
34944  173595  Uganda       tomatoes         Yes       2.0    500.0    Heap
37440  173595  Uganda         onions         Yes       1.0    500.0    Heap
39936  173595  Uganda        mangoes          No       0.0      NaN     NaN
42432  173595  Uganda         pawpaw          No       0.0      NaN     NaN
44928  173595  Uganda      jackfruit          No       0.0      NaN     NaN
47400  173595  Uganda       avocados          No       0.0      NaN     NaN
49896  173595  Uganda   sweetbananas          No       0.0      NaN     NaN
52392  173595  Uganda  otherfruitveg          No       0.0      NaN     NaN
54888  173595  Uganda     organmeats          No       0.0      NaN     NaN
57384  173595  Uganda           meat          No       0.0      NaN     NaN
59880  173595  Uganda           fish          No       0.0      NaN     NaN
62376  173595  Uganda           eggs          No       0.0      NaN     NaN
64872  173595  Uganda          dairy          No       0.0      NaN     NaN
67368  173595  Uganda           nuts          No       0.0      NaN     NaN
69864  173595  Uganda        legumes         Yes       8.0   2000.0     Cup
72360  173595  Uganda     cookingoil         Yes       2.0    500.0  Sacket
74856  173595  Uganda          sugar          No       0.0      NaN     NaN
77352  173595  Uganda           salt         Yes       1.0    600.0  Sacket
79848  173595  Uganda          royco          No       0.0      NaN     NaN
82344  173595  Uganda            tea          No       0.0      NaN     NaN
84840  173595  Uganda        alcohol         Yes       2.0   1000.0     Cup
87336  173595  Uganda      otherfood          No       0.0      NaN     NaN

## Question 3(e): By `product` and `country`, calculate the median `ucost` and `quantity`

In [80]:
def calculate_median_by_product_and_country(df):
    """
    Calculate the median ucost and quantity by Product and country.
    
    Parameters:
    df (pd.DataFrame): The input DataFrame with columns ['hh_id', 'country', 'Product', 'consumption', 'quantity', 'ucost', 'ucode'].
    
    Returns:
    pd.DataFrame: A DataFrame with median ucost and quantity by Product and country.
    """
    # Group by 'Product' and 'country', then calculate the median of 'ucost' and 'quantity'
    median_df = df.groupby(['Product', 'country'])[['ucost', 'quantity']].median().reset_index()
    
    return median_df

# Apply the function to Dataset1_clean_long_format_adjusted_ucost_based_on_country
median_values_df = calculate_median_by_product_and_country(Dataset1_clean_in_long_format_modified_adjusted_ucost_based_on_country)

# Save the result to a CSV file
# median_values_df.to_csv("median_ucost_quantity_by_product_country.csv", index=False)

# Preview the result
median_values_df.head()

    Product country   ucost  quantity
0   alcohol   Kenya    60.0       0.0
1   alcohol  Uganda  3000.0       0.0
2  avocados   Kenya    10.0       0.0
3  avocados  Uganda   500.0       0.0
4   cabbage   Kenya    40.0       1.0

### Explanation 3(e)
- Use `groupby` method to group the data by `Product` and `country`
- Use the `median` method to calculate the `median` of `ucost` and `quantity` for each group.
- Finaly, the `reset_index` method is used to convert the grouped indices back into columns for easier viewing and saving.

## Question 3(f): Replace all `missing` values with `median` `ucost` and `median quantity`

In [81]:
def replace_nan_with_median(df):
    """
    Replace NaN values in the DataFrame with the median ucost and quantity for each Product and country.
    
    Parameters:
    df (pd.DataFrame): The input DataFrame with columns ['hh_id', 'country', 'Product', 'consumption', 'quantity', 'ucost', 'ucode'].
    
    Returns:
    pd.DataFrame: The modified DataFrame with NaN values replaced by the median ucost and quantity.
    """
    # Calculate median ucost and quantity by Product and country
    median_df = df.groupby(['Product', 'country'])[['ucost', 'quantity']].median().reset_index()

    # Merge median values back into the original DataFrame
    df_merged = df.merge(median_df, on=['Product', 'country'], suffixes=('', '_median'))

    # Replace NaN values in ucost and quantity with median values
    df_merged['ucost'] = df_merged['ucost'].fillna(df_merged['ucost_median'])
    df_merged['quantity'] = df_merged['quantity'].fillna(df_merged['quantity_median'])

    # Drop the median columns
    df_final = df_merged.drop(columns=['ucost_median', 'quantity_median'])

    return df_final

# Apply the function to Dataset1_clean_long_format_adjusted_ucost_based_on_country
Dataset1_clean_final = replace_nan_with_median(Dataset1_clean_in_long_format_modified_adjusted_ucost_based_on_country)

# Save the result to a CSV file
Dataset1_clean_final.to_csv("Dataset1_clean_final.csv", index=False)

# Preview the result
Dataset1_clean_final.head()

    hh_id country Product consumption  quantity   ucost     ucode
0  173595  Uganda    rice          No       0.0  4000.0       NaN
1  173572  Uganda    rice         Yes       8.0  5000.0  Kilogram
2  174305  Uganda    rice          No       0.0  4000.0       NaN
3  174401  Uganda    rice          No       0.0  4000.0       NaN
4  175138  Uganda    rice         Yes       2.0  5000.0  Kilogram

### Explanation 3(f)
- `median_df` contains the median values for `ucost` and `quantity` by `Product` and `country`
- The original DataFrame `df` is merged with `median_df` to bring the `median` values into the original DataFrame.
- `fillna` is used to replace `NaN` values in `ucost` and `quantity` columns with the corresponding median values.
- The columns used for merging (`ucost_median` and `quantity_median`) are removed from the final DataFrame.

In [82]:
# descriptive statistics function
def dataset1_final_descriptive_statistic(df):
    # Specifying datetime_is_numeric=True adopts the future behavior of Treating datetime data as categorical rather than numeric
    dataset1_descriptive_statistic_df = df.describe(include='all')
    return dataset1_descriptive_statistic_df
 

dataset1_final_descriptive_statistic(Dataset1_clean_final)

         hh_id country Product consumption      quantity          ucost  ucode
count    89808   89808   89808       89808  89808.000000   89808.000000  36969
unique    2451       2      36           2           NaN            NaN     21
top     174179  Uganda    rice          No           NaN            NaN  Whole
freq       560   47616    2496       52400           NaN            NaN   6437
mean       NaN     NaN     NaN         NaN      2.117090    1508.437188    NaN
std        NaN     NaN     NaN         NaN     48.061136    3210.153180    NaN
min        NaN     NaN     NaN         NaN      0.000000       5.000000    NaN
25%        NaN     NaN     NaN         NaN      0.000000      50.000000    NaN
50%        NaN     NaN     NaN         NaN      0.000000     455.000000    NaN
75%        NaN     NaN     NaN         NaN      1.000000    2000.000000    NaN
max        NaN     NaN     NaN         NaN  12000.000000  150001.000000    NaN